<html lang="en">
    <head>
        <title>Swapi-Grow</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/views/main.css">
    </head>
    <body>
        <div class="character">
            <div class="title">
                <h1><%= name %></h1>
            </div>
            <div class="char-info">
                <div class="info-box">
                    <span class="info-head general">General Info: </span>
                    <div>
                        <span>Height:</span>
                        <span><%= height %></span>
                    </div>
                    </br>
                    <div>
                        <span>Mass:</span>
                        <span><%= mass %></span>
                    </div>
                    </br>
                    <div>
                        <span>Hair Color:</span>
                        <span><%= hair_color %></span>
                    </div>
                    </br>
                    <div>
                        <span>Skin Color:</span>
                        <span><%= skin_color %></span>
                    </div>
                    </br>
                    <div>
                        <span>Eye Color:</span>
                        <span><%= eye_color %></span>
                    </div>
                    </br>
                    <div>
                        <span>Birth Year:</span>
                        <span><%= birth_year %></span>
                    </div>
                    </br>
                    <div>
                        <span>Gender:</span>
                        <span><%= gender %></span>
                    </div>
                </div>
                <div class="info-box">
                    <span class="info-head links">Data Links: </span>
                    <span>Home World: &nbsp;</span>
                    <a href=<%= homeworld %>><%= homeworld %></a> </br>
                    </br>
                    <span>Films: &nbsp;</span>
                    <% if (films[0]) { %>
                        <% films.map((film, i) => { %>
                            <% if (i === 0 && film) { %>
                                <a href=<%= film %>><%= film %></a> </br>
                            <% } else { %>
                                <a href=<%= film %> style="margin-left: 73px"><%= film %></a> </br>
                            <% } %>
                        <% }); %>
                    <% } else { %>
                        <span>n/a</span> </br>
                    <% } %>
                    </br>
                    <span>Species: &nbsp;</span>
                    <% if (species[0]) { %>
                        <% species.map((sp, i) => { %>
                            <% if (i === 0 && sp) { %>
                                <a href=<%= sp %>><%= sp %></a> </br>
                            <% } else { %>
                                <a href=<%= sp %> style="margin-left: 44px"><%= sp %></a> </br>
                            <% } %>
                        <% }); %>
                    <% } else { %>
                        <span>n/a</span> </br>
                    <% } %>
                    </br>
                    <span>Vehicles: &nbsp;</span>
                    <% if (vehicles[0]) { %>
                        <% vehicles.map((vehicle, i) => { %>
                            <% if (i === 0 && vehicle) { %>
                                <a href=<%= vehicle %>><%= vehicle %></a> </br>
                            <% } else { %>
                                <a href=<%= vehicle %> style="margin-left: 91px"><%= vehicle %></a> </br>
                            <% } %>
                        <% }); %>
                    <% } else { %>
                        <span>n/a</span> </br>
                    <% } %>
                    </br>
                    <span>StarShips: &nbsp;</span>
                    <% if (starships[0]) { %>
                        <% starships.map((starship, i) => { %>
                            <% if (i === 0 && starship) { %>
                                <a href=<%= starship %>><%= starship %></a> </br>
                            <% } else { %>
                                <a href=<%= starship %> style="margin-left: 99px"><%= starship %></a> </br>
                            <% } %>
                        <% }); %>
                    <% } else { %>
                        <span>n/a</span> </br>
                    <% } %>
                </div>
            </div>
        </div>
    </body>
</html>